Repository SayyadinaYarbuz/Subsector157, pull requests merged in 2025-04, with the labels that each got.

#34 Big Mythimna update
  Resources/Maps/_NF/Outpost/mythimna.yml
Labels: No C#, Map-Outpost

#35 Big ol' update
  Resources/Maps/_NF/Outpost/mythimna.yml
Labels: No C#, Map-Outpost

#36 Adds LuxorCorp Mushroom
  Resources/Maps/_NF/Shuttles/mushroom.yml
  Resources/Prototypes/_NF/Shipyard/mushroom.yml
Labels: Map-Shuttle, No C#, YML

#37 Revert "Adds LuxorCorp Mushroom"
  Resources/Maps/_NF/Shuttles/mushroom.yml
  Resources/Prototypes/_NF/Shipyard/mushroom.yml
Labels: Map-Shuttle, No C#, YML

#41 Branch branch mushroom test3
  Resources/Maps/_157/Shuttles/curie.yml
  Resources/Maps/_157/Shuttles/flea.yml
  Resources/Maps/_157/Shuttles/mushroom.yml
  Resources/Prototypes/_157/Shipyard/curie.yml
  Resources/Prototypes/_157/Shipyard/flea.yml
  Resources/Prototypes/_157/Shipyard/mushroom.yml
Labels: No C#, YML, S: Untriaged, size/S

#42 Cargo Update Mythimna
  Resources/Maps/_NF/Outpost/mythimna.yml
Labels: No C#, Map-Outpost, size/XL

#43 Adds LuxorCorp Carver and corresponding prototype
  Resources/Maps/_157/Shuttles/carver.yml
  Resources/Prototypes/_157/Shipyard/carver.yml
Labels: No C#, YML, size/L

#46 LuxorCorp Praetorian
  Resources/Maps/_157/Shuttles/Praetorian.yml
  Resources/Prototypes/_157/Shipyard/praetorian.yml
Labels: No C#, YML, S: Untriaged, size/L

#48 LuxorCorp Praetorian 2
  Resources/Prototypes/_157/Shipyard/praetorian.yml
Labels: No C#, YML, S: Untriaged, size/XS

#49 Remove frontier PoI's (besides cargo depots for now)
  Resources/Maps/_NF/POI/anomalousgeode.yml
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/bahama.yml
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/edison.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/imhotep.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/mchobo.yml
  Resources/Maps/_NF/POI/medical.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/northpole.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Maps/_NF/POI/trademall.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalousgeode.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalouslab.yml
  Resources/Prototypes/_NF/PointsOfInterest/bahamamamas.yml
  Resources/Prototypes/_NF/PointsOfInterest/base.yml
  Resources/Prototypes/_NF/PointsOfInterest/caseys.yml
  Resources/Prototypes/_NF/PointsOfInterest/courthouse.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
  Resources/Prototypes/_NF/PointsOfInterest/grifty.yml
  Resources/Prototypes/_NF/PointsOfInterest/imhotep.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
  Resources/Prototypes/_NF/PointsOfInterest/medical.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/PointsOfInterest/northpole.yml
  Resources/Prototypes/_NF/PointsOfInterest/omnichurch.yml
  Resources/Prototypes/_NF/PointsOfInterest/thepit.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
  Resources/Prototypes/_NF/PointsOfInterest/trademall.yml
Labels: No C#, YML, Map-POI

#50 Revert "Remove frontier PoI's (besides cargo depots for now)"
  Resources/Maps/_NF/POI/anomalousgeode.yml
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/bahama.yml
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/edison.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/imhotep.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/mchobo.yml
  Resources/Maps/_NF/POI/medical.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/northpole.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Maps/_NF/POI/trademall.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalousgeode.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalouslab.yml
  Resources/Prototypes/_NF/PointsOfInterest/bahamamamas.yml
  Resources/Prototypes/_NF/PointsOfInterest/base.yml
  Resources/Prototypes/_NF/PointsOfInterest/caseys.yml
  Resources/Prototypes/_NF/PointsOfInterest/courthouse.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
  Resources/Prototypes/_NF/PointsOfInterest/grifty.yml
  Resources/Prototypes/_NF/PointsOfInterest/imhotep.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
  Resources/Prototypes/_NF/PointsOfInterest/medical.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/PointsOfInterest/northpole.yml
  Resources/Prototypes/_NF/PointsOfInterest/omnichurch.yml
  Resources/Prototypes/_NF/PointsOfInterest/thepit.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
  Resources/Prototypes/_NF/PointsOfInterest/trademall.yml
Labels: No C#, YML, Map-POI, S: Untriaged

#51 Revert "LuxorCorp Praetorian 2"
  Resources/Prototypes/_157/Shipyard/praetorian.yml
Labels: No C#, YML, S: Untriaged

#52 Remove frontier PoI's (besides cargo depots for now)
  Resources/Maps/_NF/POI/anomalousgeode.yml
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/bahama.yml
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/edison.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/imhotep.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/mchobo.yml
  Resources/Maps/_NF/POI/medical.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/northpole.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Maps/_NF/POI/trademall.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalousgeode.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalouslab.yml
  Resources/Prototypes/_NF/PointsOfInterest/bahamamamas.yml
  Resources/Prototypes/_NF/PointsOfInterest/caseys.yml
  Resources/Prototypes/_NF/PointsOfInterest/courthouse.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
  Resources/Prototypes/_NF/PointsOfInterest/grifty.yml
  Resources/Prototypes/_NF/PointsOfInterest/imhotep.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
  Resources/Prototypes/_NF/PointsOfInterest/medical.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/PointsOfInterest/northpole.yml
  Resources/Prototypes/_NF/PointsOfInterest/omnichurch.yml
  Resources/Prototypes/_NF/PointsOfInterest/thepit.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
  Resources/Prototypes/_NF/PointsOfInterest/trademall.yml
Labels: No C#, YML, Map-POI, S: Untriaged, size/S

#53 Adds imhotep's bar and grill
  Resources/Maps/_157/POI/imhotep.yml
  Resources/Prototypes/_157/PointsOfInterest/imhotep.yml
Labels: No C#, YML, S: Untriaged, size/XL

#54 Praetorian
  Resources/Maps/_157/Shuttles/praetorian.yml
  Resources/Prototypes/_157/Shipyard/praetorian.yml
Labels: No C#, YML

#55 adds gumshoe to Security Forces
  Resources/Maps/_157/Shuttles/SF/gumshoe.yml
  Resources/Prototypes/_157/Shipyard/SF/gumshoe.yml
Labels: No C#, YML, size/L
