Repository SayyadinaYarbuz/Subsector157, pull requests merged in 2025-05, with the labels that each got.

#56 Orpheus update
  Resources/Maps/_NF/Outpost/mythimna.yml
Labels: No C#, Map-Outpost, S: Untriaged, size/XL

#59 Modified 3 ships to become visible on mass scanner.
  Resources/Prototypes/_157/Shipyard/carver.yml
  Resources/Prototypes/_157/Shipyard/mushroom.yml
  Resources/Prototypes/_157/Shipyard/praetorian.yml
Labels: No C#, YML, S: Untriaged, size/XS

#62 More pois
  Resources/Maps/_157/POI/cargodepot.yml
  Resources/Maps/_157/POI/gasngunclean.yml
  Resources/Maps/_157/POI/gasngunmessy.yml
  Resources/Maps/_157/POI/imhotep.yml
  Resources/Prototypes/_157/PointsOfInterest/depots.yml
  Resources/Prototypes/_157/PointsOfInterest/gasnguns.yml
  Resources/Prototypes/_157/PointsOfInterest/imhotep.yml
Labels: No C#, YML, S: Untriaged, size/XL

#66 Orpheus update 2.0
  Resources/Maps/_NF/Outpost/mythimna.yml
Labels: No C#, Map-Outpost, S: Untriaged, size/XL

#67 real this time
  Resources/Maps/_157/POI/cargodepot.yml
Labels: No C#, YML, S: Untriaged, size/M

#69 Mythimna updates
  Resources/Maps/_NF/Outpost/mythimna.yml
Labels: No C#, Map-Outpost, S: Untriaged, size/XL

#71 I just straight up deleted the conflicting files.
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/cargodepotalt.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
Labels: No C#, YML, Map-POI, S: Untriaged, size/XL

#75 final touches to main station
  Resources/Maps/_NF/Outpost/mythimna.yml
Labels: No C#, Map-Outpost, S: Untriaged, size/XL

#78 Misc changes
  Resources/Maps/_157/POI/cargodepot.yml
  Resources/Maps/_157/POI/gasngunclean.yml
  Resources/Maps/_157/POI/gasngunmessy.yml
Labels: No C#, YML, size/L

#80 Fixes Cargo Depots wires and flaps
  Resources/Maps/_157/POI/cargodepot.yml
Labels: No C#, YML, S: Untriaged, size/L

#81 Fixes gas station POI and adds more beer and mess to one of them.
  Resources/Maps/_157/POI/gasngunclean.yml
  Resources/Maps/_157/POI/gasngunmessy.yml
Labels: No C#, YML, S: Untriaged, size/L

#82 adds a single directional fan to the curie
  Resources/Maps/_157/Shuttles/curie.yml
Labels: No C#, YML

#83 I think finally fixed completely o-o
  Resources/Maps/_157/POI/gasngunclean.yml
  Resources/Maps/_157/POI/gasngunmessy.yml
Labels: No C#, YML, size/XL

#85 Cargo rework Mythimna
  Resources/Maps/_NF/Outpost/mythimna.yml
Labels: No C#, Map-Outpost, S: Untriaged, size/XL
